.container{
    margin-top: 200px;
    margin-bottom: 120px;
    display: flex;
    padding-right: 40px;
    /* background-color: antiquewhite; */
}
.text{
    text-align: justify;
}
@media (max-width:1200px) {
    .container{
        margin-top: 200px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
    }
}
