.form{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 60%;
    padding: 0%;
    /* align-items: center; */
    /* justify-content: center; */

}
.heading{
    /* margin-top: 120px; */
    color: rgb(81, 81, 81);
}
.button{
    border: none;
    border-radius: 0%;
    background-color: rgb(102, 102, 102);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 8px;
}

@media (max-width:650px){
    .form{
        
        width: 90%;
        padding: 0%;

    }
}