.container{
    height: 80px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoLink{
    height: inherit;
    /* background-color: antiquewhite; */
    width: 230px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 200px;;
    height: 65px;
}