.sideBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin-left: 20px;
}

.navItem {
    display: flex;
}

.navLink {
    width: 30px;
    position: relative; /* Add this to make positioning the dot easier */
}

.wishlistIcon {
   /* font-size: 24px; Adjust size as needed */
   position: relative; /* Keep this relative for the dot positioning */
}

.wishlistDot {
    background-color: red;
    border-radius: 50%;
    width: 5px; /* Adjust size as needed */
    height: 5px; /* Ensure it's a perfect circle */
    position: absolute;
    top: 10px;
    right: 7px;
    /* top: -4px; Position the dot on top */
    /* right: -4px; Position the dot on the right */
}
